@using Estudos.App.Web.Extensions
@model IEnumerable<Estudos.App.Web.ViewModels.FornecedorViewModel>

@{
    ViewData["Title"] = "Lista de Fornecedores";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Fornecedor</a>
</p>
<table class="table data-table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th style="width: 50%">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th class="nosort" style="width: 20%">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @this.FormataDocumento(item.TipoFornecedor, item.Documento)
                </td>
                <td>
                    <badge-boolean ativo="item.Ativo"></badge-boolean>
                </td>
                <td class="text-right">
                    <a class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Detalhes" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search"></span></a>
                    <a class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-edit"></span></a>
                    <a class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Excluir" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
